<div class="border border-gray-100 rounded-lg flex justify-between p-2 mt-4 mb-3">
  <button class="border border-gray-300 p-2 rounded-lg self-start">
    <span class="sr-only">Edit customer</span>
    <img loading="lazy" src="./icons/edit-2.svg" alt="">
  </button>
  <div class="flex justify-between items-center gap-2 text-right text-gray-600">
    <div>
      <h3 class="font-bold">الوليد العنزي</h3>
      <p>جدة/السعودية-0699141857</p>
    </div>
    <img loading="lazy" src="./images/users/customer.png" alt="customer name">
  </div>
</div>
