<section class="toolbar grid grid-cols-3 items-end">
  <div>
    <div class="pt-2 relative  text-gray-muted">
      <input class=" bg-white h-10 pr-9 w-full outline-gray-300 rounded-lg text-sm text-right" type="text"
        name="search"  placeholder="البحث على.....">
      <button type="submit" class="absolute right-0 top-0 mt-5 mr-3">
        <img loading="lazy" src="./icons/search.svg" alt="magnifying glass">
        <div class="sr-only">search button</div>
      </button>
    </div>
  </div>

  <div class="text-end">
    <h1 class="text-gray-900 font-bold text-2xl">قائمة المنتجات</h1>
  </div>

  <div class="text-right">
    <button  class="border border-gray-300 px-2 py-1 hover:bg-gray-50 transition font-bold text-gray-800 rounded-lg">
      <span>رجوع</span>
      <img class="inline ms-2" loading="lazy" src="./icons/arrow-right.svg" alt="arrow right">
    </button>
  </div>
</section>