<header>
  <app-nav-bar></app-nav-bar>
</header>

<main class="mt-10 grid md:grid-cols-4  lg:grid-cols-3 gap-5 items-start">
  <aside class="md:col-span-2 lg:col-span-1 bg-white rounded-lg">
    <app-cart></app-cart>
  </aside>

  <section  class="md:col-span-2 lg:col-span-2">
    <article >
      <app-products></app-products>
    </article>

    <footer class="bg-white text-right rounded-lg py-4 px-6 mt-5">
      Copyright © 2024 taswq. All rights reserved. Made in Saudi
    </footer>
  </section>
</main>
