<nav class="md:flex items-center justify-between">

  <div class=" hidden md:flex items-center gap-4">
    <a href="">
      <img src="./images/users/user.png" alt="user name">
      <span class="sr-only">User Profile</span>
    </a>
    <button class="cursor-pointer">
      <img src="./icons/notification.svg" alt="notification bell">
    </button>
    <div class="text-gray-800 font-bold">25-سبتمبر-2024</div>
  </div>

  <div class=" hidden md:flex bg-white rounded-lg py-1 px-2">
    <button class="p-1 rounded-lg">
      <span>كل طلبات</span>
      <img class="inline ms-1" src="./icons/shopping-bag.svg" alt="">
    </button>
    <button class="bg-body p-1 rounded-lg ms-2">
      <span>كل طلبات</span>
      <img class="inline ms-1" src="./icons/monitor.svg" alt="">
    </button>
  </div>


  <div class="flex gap-4 justify-between">
    <a href="">
      <img src="./icons/tsoq-header.svg" alt="tsoq header icon  ">
      <span class="sr-only">Tsoq Logo</span>
    </a>
    <button>
      <img src="./icons/burger.svg" alt="burger menu">
    </button>
  </div>
</nav>
